// TWC Colours
$grass: rgb(122, 184, 0);
$grass-dark: rgb(91, 143, 34);
$grass-light: rgb(165, 216, 103);

$indigo: #203049;

$sky: rgb(0, 136, 206);
$sky-dark: rgb(0, 84, 159);
$sky-light: rgb(0, 169, 224);

$steel: rgb(139, 141, 142);
$steel-dark: rgb(77, 79, 83);
$steel-light: rgb(173, 175, 175);

$plum: rgb(128, 55, 155);
$plum-dark: rgb(91, 31, 105);
$plum-light: rgb(156, 95, 181);

$orange: rgb(227, 114, 34);
$orange-dark: rgb(197, 76, 0);
$orange-light: rgb(233, 153, 74);

$cranberry: rgb(169, 0, 97);
$cranberry-dark: rgb(131, 0, 81);
$cranberry-light: rgb(218, 61, 126);

// General Styles
$body-bg: #FAFBFB;
$text-color: $steel-dark;
$font-sans: 'Work Sans', sans-serif;
$white: #fff;
